.left-col {
    background-color: #ffeff8; /* light tan background */
    padding: 10px;
    max-width: 400px;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.bk-btn-group .bk-btn {
    background: #00f5ab !important;
    border-color: #00b17c !important;
    font-weight: bold !important;
    color: white !important;
}

.bk-btn-group .bk-btn.bk-active {
    background: #00b17c !important;
    border-color: #00b17c !important;
    color: white !important;
}

.bk-input-group label {
    margin-bottom: 2px !important;
    padding-bottom: 0 !important;
    font-size: 10px;
}

/* Style for TextInputs next to RangeSliders */
.bk-Row > .bk-input-group {
    margin-top: auto;
    margin-bottom: 5px;
}

.bk-Row > .bk-input-group input[type="text"] {
    text-align: center;
    padding: 2px 4px;
    font-size: 11px;
}