/* Using terracotta palette from https://colorswall.com/palette/150119 */
.left-col {
    background-color: #EBCB90; /* light tan background */
    padding: 15px;
    min-width: 350px;
}

.bk-btn {
    padding: 0px !important;
    line-height: 1.0 !important;
}